body {
    font-family: 'sans-serif';
}
body.modal-open>ons-page{
    filter: blur(2px);
}
#video-feed-contents {
    display:flex;
}
#video-element-wrapper {
    overflow: hidden;
    flex: 1 1 auto;
}
#camera-controls {
    flex: 0 0 100px;
    position: relative;
}
#ctrl-pan-up {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}
#ctrl-pan-down {
    position: absolute;
    top: 80%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}
#ctrl-pan-left {
    position: absolute;
    top: 50%;
    left: 40%;
    margin-top: -20px;
    margin-left: -20px;
}
#ctrl-pan-right {
    position: absolute;
    top: 50%;
    left: 60%;
    margin-top: -20px;
    margin-left: -20px;
}
#ctrl-firenerf {
    position: absolute;
    top: 50%;
    left: 75%;
    margin-top: -20px;
    margin-right: -20px;
}
@media (orientation: landscape) {
    #video-feed-contents {
      flex-direction: row;
    }
    #video-element {
        height: 70%;
    }
    #people-preview {
        flex: 1 0 150px;
        flex-direction: column;
    }
}
@media (orientation: portrait) {
    #video-feed-contents {
      flex-direction: column;
    }
    #video-element {
        width: 100%;
    }
    #people-preview {
        flex: 1 0 150px;
        flex-direction: row;
    }
}
#people-preview {
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.person {
    width:150px;
    height:150px;
    background-position: center;
    background-size: cover;
    flex: 0 0 auto;
    display:block;
    border:1px solid #666;
}
.person.invalid{
    border-color:red;
}
.person:hover {
    opacity: 0.85;
    cursor: pointer;
}
.modal-closer {
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 32px;
}
.modal-person-preview {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}
ons-modal input, ons-modal label, ons-modal .list-title--material, ons-modal .text-input--material {
    color: white;
}
ons-modal input[type="radio"]:before{
    color: white;
}
ons-modal .list--material {
    background-color:transparent;
}
ons-modal .list-item--material__center {
    background-image:none;
    color: white;
}
ons-modal .list-header, ons-modal .list-item{
    color: white;
}
ons-modal .radio-button--material__checkmark:before{
    border-color: white;
}
ons-modal .radio-button--material__checkmark:after{
    background-color: white;
}