<!DOCTYPE html>
<html>
    <head>
        <title>Turret Cam</title>
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
        <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
        <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="index.js"></script>
        <link rel="stylesheet" type="text/css" href="index.css"/>
    </head>
    <body>
        <ons-page>
            <ons-toolbar>
                <ons-if class="left" platform="android"></ons-if>
                    <div class="center" style="width: 100%">
                        Turret Camera
                    </div>
                </ons-if>
                <ons-if class="right" platform="android">
                    <ons-toolbar-button ng-click="androidSearchModal.show(); ">
                    <ons-icon icon="md-search"></ons-icon>
                    </ons-toolbar-button>
                </ons-if>
            </ons-toolbar>
            <template id="video-feed">
                <ons-page id="video-feed-main">
                    <div id="video-feed-contents">
                        <div id="video-element-wrapper">
                            <img id="video-element" src="/video_feed"></img>
                        </div>
                        <div id="people-preview"></div>
                        <div id="camera-controls">
                            <ons-button id="ctrl-pan-up"><ons-icon icon="md-long-arrow-up"></ons-icon></ons-button>
                            <ons-button id="ctrl-pan-left"><ons-icon icon="md-arrow-left"></ons-icon></ons-button>
                            <ons-button id="ctrl-pan-right"><ons-icon icon="md-arrow-right"></ons-icon></ons-button>
                            <ons-button id="ctrl-pan-down"><ons-icon icon="md-long-arrow-down"></ons-icon></ons-button>
                            <ons-button id="ctrl-firenerf"><ons-icon icon="md-mood"></ons-icon></ons-button>
                        </div>
                    </div>
                </ons-page>
            </template>
            <template id="people">
                <ons-page id="people-main">
                    <ons-list id="people-list">
                    </ons-list>
                </ons-page>
            </template>
            <template id="profile">
                    <ons-page id="profile-main">
                        <h1>Profile</h1>
                    </ons-page>
                </template>
            <ons-tabbar id="tabbar" animation="slide" swipeable position="auto">
                <ons-tab icon="ion-ios-videocam" label="Camera" page="video-feed" active></ons-tab>
                <ons-tab icon="ion-android-contacts" label="Targets" page="people"></ons-tab>
                <ons-tab icon="ion-person" label="Profile" page="profile"></ons-tab>
            </ons-tabbar>
        </ons-page>
        <ons-modal id="person-preview-modal" direction="up">
            <div class="modal-closer">&times;</div>
            <h3></h3>
            <div class="modal-person-preview person"></div>
            <br><br>
            <ons-list-title>Target Options</ons-list-title>
            <br>
            <ons-button class="action-fire" modifier="large">Fire Nerf!</ons-button>
            <br><br>
            <ons-button class="action-add" modifier="large">Add Profile</ons-button>
            <ons-button class="action-update" modifier="large">Improve Face Recognition</ons-button>
            <br><br>
            <div class="facial-recognition-warning">Facial encoding data not available. Face must be fully visible to camera to access profile features.</div>
        </ons-modal>
        <ons-modal id="new-person-modal" direction="up">
            <div class="modal-closer">&times;</div>
            <h3>Add Profile</h3>
            <ons-input id="new-user-name" modifier="underbar" placeholder="Name" float></ons-input>
            <br><br><br>
            <ons-list-title>Existing Profiles</ons-list-title>
            <ons-list id="existing-people">
            </ons-list>
            <br><br><br>
            <ons-bottom-toolbar>
                <ons-button class="action-add" modifier="large">Add Person</ons-button>
            </ons-bottom-toolbar>
        </ons-modal>
        <ons-modal id="saved-person-modal" direction="up">
                <div class="modal-closer">&times;</div>
                <h3></h3>
                <ons-list-title>Options</ons-list-title>
                <ons-list>
                    <ons-list-item tappable>
                        <label class="right">
                            <ons-checkbox name="fire-on-sight" input-id="fire-on-sight"></ons-checkbox>
                        </label>
                        <label for="fire-on-sight" class="left">
                            Fire on Sight
                        </label>
                    </ons-list-item>
                </ons-list>
                    <ons-list-title>Player Stats</ons-list-title>
                <ons-list id="player-stats-list">
                    <ons-list-item>
                        <div class="left">Hits</div>
                        <div class="right">5</div>
                    </ons-list-item>
                    <ons-list-item>
                        <div class="left">Misses</div>
                        <div class="right">3</div>
                    </ons-list-item>
                    <ons-list-item>
                        <div class="left">Shots Fired</div>
                        <div class="right">13</div>
                    </ons-list-item>
                </ons-list>
            </ons-modal>
    </body>
</html>